<% provide(:title, "About") %>
<% @james = User.find_by(email: "jamesvickers19@yahoo.com") %>
<% @daphne = User.find_by(email: "daphne@salud.unm.edu") %>
<h1>About</h1>
<p>
The Healthcare Share is a place to post your healthy activities, like eating right and exercising.
You can 'encourage' other people's posts and likewise, your posts can be encouraged!  You can
follow the posts of other users using the 'Follow' button at the top of their profile page.
The site was built by
<% if ! @james.nil? && @james.valid? %>
  <%= link_to "James Vickers", user_path(@james)%>,
<% else %>
  James Vickers,
<% end %>
 but it's the brainchild of
<% if ! @daphne.nil? && @daphne.valid? %>
  <%= link_to "Daphne Olson", user_path(@daphne)%>.
<% else %>
  Daphne Olson.
<% end %>
</p>
